---
- name: Get all VirtualMachines in the namespace
  redhat.openshift_virtualization.kubevirt_vm_info:
    namespace: "{{ vm_namespace }}"
  register: vm_info

- name: Debug the vm_info variable
  ansible.builtin.debug:
    var: vm_info

- name: Stop VM using OpenShift API
  ansible.builtin.uri:
    url: "https://api.ocp4.kimmlingen.org:6443/apis/subresources.kubevirt.io/v1//namespaces/vm/virtualmachines/{{ item.metadata.name }}/stop"
    method: PUT
    headers:
      Authorization: "Bearer {{ OCP_BEARER_TOKEN }}"
      # Neu!
      Content-Type: "application/json"
      #Bis hierher!
    #Neu
    body: "{}" 
    body_format: json 
    validate_certs: false
    status_code:
      - 202
    #Bis hierher!
    validate_certs: false
    status_code:
      - 202
  loop: "{{ vm_info.resources }}"
  loop_control:
    label: "{{ item.metadata.name }}"
  #changed_when: item.status.printableStatus != "Stopped"
  changed_when: true
